<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>身份核查</string>
		<key>image</key>
		<string>idcheck.png</string>
	</dict>
	<dict>
		<key>title</key>
		<string>银行卡核查</string>
		<key>image</key>
		<string>creditcardcheck.png</string>
	</dict>
</array>
</plist>
